<!doctype html>
<title>/about</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    * {
        font: 18px monospace;
    }
    .header {
        border-bottom: 2px solid black;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .headertext{
        font-weight: bold;
    }
    a {
        text-decoration: none;
        font-weight: inherit;
    }
</style>

<div class='header'>
    <span class='headertext'><a href='/'>Chat Anarchy</a> | <a href='join'>Join Room</a> | <a href='/about'>About</a></span>
</div>

{{{body}}}